*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

#logo {
    position: absolute;
    right: 3%;
    height: 2rem;
    border-radius: 2rem;
    padding: 0.3rem;
    background-color: white;
    /*box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.14);*/
}
aside {
    display: relative;
    position: fixed;
    z-index: 2;
    background-color: black;
    width: 5rem;
    height: 100vh;
    color: white;
    left:0;
    top:0;
    transition: width 0.5s;
}
aside:hover {
    width: 15rem;
}
#asideHeader {
    width:100%
}
#navLogoContainer {
    display:inline-block;
    align-items: center;
    margin: 1.3rem;
    border-radius: 0.75vw;
    height: 2.5rem;
    width: calc(100% - 2.6rem);
    overflow: hidden;
}
#navLogo {
    position: absolute;
    height: 1.5rem;
    float: left;
    z-index: 0;
}
#navRight {
    position:absolute;
    filter: invert(100%);
    right: 1.8rem;
    height: 1.5rem;
    z-index: 2;
}
#rightBackground {
    position:absolute;
    background: linear-gradient(90deg, rgba(36,0,13,0) 0%, rgba(0,0,0,1) 14%, rgba(0,0,0,1) 100%);
    width: 4rem;
    right: 0;
    height: 2rem;
    z-index: 1;
}
.navIconContainer {
    display:flex;
    align-items: center;
    background-color: #000000;
    margin: 1rem;
    border-radius: 0.75vw;
    height: 2.5rem;
    overflow: hidden;
    transition: filter 0.15s;
}
.navIconContainer:hover {
    filter: invert(100%);
    font-weight: bold;
}
.navIcon {
    filter: invert(100%);
    margin: 0.5rem 1rem 0.5rem 0.5rem;
    height: 2rem;
}
.navText {
    font-family: 'Montserrat Alternates', sans-serif;
}
#content {
    display: block;
    width: calc(100% - 5rem);
    height: fit-content;
    background-color: white;
    margin-left: 5rem;
}

/* Hasta aquí es lo del menú lateral */
header {
    width: calc(100% - 5rem);
    position: fixed;
    top: 0;
    padding: 1rem 0 1.5rem 0;
    background: linear-gradient(180deg, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
#plus {
    border-radius: 2rem;
    height: 2.3rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.14);
    transition: outline 100ms, box-shadow 300ms;
}
#plus:hover {
    cursor: pointer;
    outline: rgba(0, 0, 0, 0.164) solid 3px;
    box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.123);
}
#mbIzq {
    display: flex;
    align-items: center;
}
#btnBack {
    border-radius: 2rem;
    height: 1.3rem;
    padding: 0.5rem;
    margin-right: 1rem;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.14);
    transition: outline 100ms, box-shadow 300ms;
}
#btnBack:hover {
    cursor: pointer;
    outline: rgba(0, 0, 0, 0.164) solid 3px;
}
#demoFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*DEMO*/
#searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 2rem;
    border: 3px solid rgba(0, 0, 0, 0.223);
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.14);
}
textarea:focus, input:focus{
    outline: none;
}
.searchInput {
    font-family: 'Montserrat Alternates', sans-serif;
    width: 33%;
    text-align: center;
    border: none;
    background-color: #00000000;
    border-right: 2px solid #00000055;
    
}
#rightInput {
    border-right: none;
}
input[type=date]:invalid::-webkit-datetime-edit {
    color: rgb(191, 52, 52);
}
.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding-bottom: 1rem;
}
.category {
    display: inline-block;
    margin: auto;
    margin-inline: 6vw;
    filter: opacity(40%);
    transition: filter 0.3s;
}
.catContent {
    display: flex;
    justify-content: center;
}
h5 {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}
.category:hover {
    filter: opacity(100%);
    cursor: pointer;
}

.headIcon {
    height: 2rem;
}
#btnSearch {
    position: relative;
    z-index: 2;
    border: 3px solid rgb(0, 0, 0);
    height: 120%;
    margin-right: -5px;
    width: 20%;
    border-radius: 2rem;
    background-color: #000000;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: width 0.3s;
}
#btnSearch:hover {
    cursor: pointer;
    height: 114%;
    width: 24%;
}

#mostrarBusqueda {
    margin: 2rem 3rem 0 3rem;
    width: calc(100% - 5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    margin: 0 2rem;
    border-width: 0;
	border-top: 1px solid #00000011;
}

.granjaImg {
    width: 100%;
    height: 40%;
    border-radius: 0.5rem;
}
h6{
    font-family: 'Montserrat Alternates', sans-serif;
}
.precio {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
    margin-top: 0.2rem;
}
#granjas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    height: fit-content;
}
.tiempo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;
    margin: 0.2rem 0 0.2rem 0;

}

.granja {
    position: relative;
    margin: 1rem;
    width: 15rem;
    height: 25rem;
    border-radius: 1rem;
    padding: 0.7rem;
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.14);
    outline: none;
    transition: outline 100ms, box-shadow 300ms;
}
.granja:hover {
    outline: rgba(0, 0, 0, 0.164) solid 3px;
    box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.123);
}
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
}
.goods {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 0;
}
.gItems {
    margin: 0 5%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: small;
}
.granjaUbi {
    width: 230px;
    height: 23px;
    margin-left: 0.3rem;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.icon {
    /* filter: opacity(0%); */
    height: 2rem;
}
.ubiIcon {
    height: 1rem;
}
.granjaTop {
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
}
.ubi {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1vw;
}
.ubi:hover {
    cursor: pointer;
}

.host {
    margin-left: auto;
}
.hostProfile {
    border-radius: 1rem;
    height: 1rem;
    margin-right: 0.6rem;
}
.checked {
    color: orange;
  }
/* .hostData {
    width: 30%;
    display: flex;
    justify-content: right;
    font-size: 0.7rem;
} */
.hostName {
    font-weight: bolder;
    width: 55%;
}

.btnReservar {
    width: 100%;
    background-color: #000000;
    color: white;
    border-radius: 0.5rem;
    border: none;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 3rem;
}

.btnReservar:hover {
    cursor: pointer;
}

#loading {
    height: 6rem;
}


@font-face {
    font-family: clear-sans-light;
    src: url("src/clear-sans.light.ttf");
    
 }
 @font-face {
    font-family: clear-sans-bold;
    src: url("src/clear-sans.bold.ttf");
    
 }
 @font-face {
    font-family: clear-sans-regular;
    src: url("src/clear-sans.thin.ttf");
    
 }
    

.flex-container{
    display: flex;
}

.caja1{
    background-color: #11011d;
    width: 40%;
    height: 190vh;
}
.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.caja2{
    background-color: whitesmoke;
    width:60%;
    height: 190vh;
}
.img2{
    position: absolute;
    right: 4rem;
    height: 2rem;
    margin-top: 1rem;
}
.registro{
    font-size:50px;
    margin-left: 4.5rem;
    margin-top: 5rem;
    font-family: clear-sans-bold;
}
.sub{
    font-size:25px;
    margin-left: 4.5rem;
    margin-bottom: 2rem;
    font-family: clear-sans-light;
}
.form{
    border: 3px solid #d4d4d4;
    border-radius: 25px;
    padding: 3px;
    margin-left: 4rem;
   
    
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #000000;
    border-radius: 25px;
    color: white;
    margin-top: 1.5rem;
    margin-left: 65%;
    font-family: clear-sans-bold;
    transition: opacity 100ms;
    user-select: none;
}
/* 
input:focus{
    border: none;
} */
.boton:hover {
    opacity: 50%;
}
section {
    height: 100%;
    width: 100%;
}
.input{
    width: 100%;
    height: 3em;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding-left: 0.5rem;
    margin-left: -0.25rem;
    font-family: clear-sans-regular;
    font-size: 1.2rem;  
    color: #404040;  
}

#diferente{
    height: 5em;
}

#indexBody{
    position: relative;
    height: 100vh;
    background-image:url("src/portada.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: darken;
}

.container{
    width:100%;
    height:100%;
    color: white;
}

.slogo{
    position: inline-block;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: transparent;
    margin-top: 2rem;
    margin-left: 7rem;
    height: 5%;
    width: 86.5%;
    color: whitesmoke;
}

.stitulo{
    position: inline-block;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: clear-sans-thin;
    font-size:20px;
    text-shadow: 0.05em 0.05em #333;
    margin-left: 9rem;
    background-color: transparent;
    padding-left: 1.2rem;
    padding-top: .5rem; 
    margin-top: 2rem;
    margin-bottom: -1rem;
    height: 15%;
    width: 65%;
}

.stexto{
    position: inline-block;
    justify-content: left;
    font-family: clear-sans-bold;
    font-size: 50px;
    line-height: 55px;
    align-items: center;
    margin-top: .5rem;
    margin-left: 9rem;
    padding-left: 1rem;
    background-color: transparent;
    height: 40%;
    width: 55%;
}

.sbotones{
    position: inline-block;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
    margin-top: -2.5rem;
    margin-left: 9rem;
    padding-left: 1rem;
    height: 15%;
    width: 50%;
}

.imgp{
    height: 1.75rem;
    border-radius: .5rem;
}

#botonesIndex{
    margin-top: -2.5rem;
    border: 0;
    width: 100%;
    height: 55%;
    border-spacing: 0;
    box-shadow: 5px 5px black;
    border-radius: 1.5rem;
}

#btnReservarIndex {
    background-color: #11011d;
    font-family: clear-sans-regular;
    font-size: 17px;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    width: 50%;
    color: white; 
    text-align:center;
}

#td{
    background-color:#000000;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    text-align: center;
}

#td:hover, #btnReservarIndex:hover{
    opacity: 60%;
    font-size: 18px;
}

a{
    text-decoration: none;
    color:white;
}

.navLInk {
    width: 100%;
    height: 100%;
}

.reg-container{
    filter: opacity(0%);
    /* display: none; */
    position: absolute;
    width:390px;
    height:144%;
    background-color: #FFFFFF;
    color: black;
    margin: 6rem 3rem 0rem 3rem;
    border-radius: 1rem;
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.14);
    overflow: hidden;
    transition: filter 100ms;
}

.regsuc{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50px;
    background-color: #000000;
    color: whitesmoke;
    border-top-right-radius: .75rem;
    border-top-left-radius: .75rem;
    margin-bottom: .5rem;
    font-family: clear-sans-bold;
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.14);
}

.regsucd{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: left;
    padding-left: 1rem;
    width: 90%;
    display: flex;
    height: 7%;
    margin-bottom: .25rem;
    margin-right: .1rem;
    margin-left: .75rem;
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.14);
    font-family: clear-sans-bold;
    color: black;
    border-radius: .25rem;
}

#dimg{
    width: calc(100% - 2rem);
    height: 205px;
    margin: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    object-fit: cover;
    border-color: #000000;
    outline: none;
}

#d9{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50px;
    background-color: #000000;
    color: whitesmoke;
    margin-top: 1.5rem;
    font-family: clear-sans-bold;
    border-radius: 0rem;
    border-bottom-left-radius: 1rem;    
    border-bottom-right-radius: 1rem;
}